html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#comingsoon
{
   background-color: transparent;
   background-image: url(images/ibiza_rocks_bk.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   margin: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#wb_comingsoon_days
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 15px 0px 0px 0px;
   text-align: center;
}
#comingsoon_days
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#wb_comingsoon_hours
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 15px 0px 0px 0px;
   text-align: center;
}
#comingsoon_hours
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#wb_comingsoon_minutes
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 15px 0px 0px 0px;
   text-align: center;
}
#comingsoon_minutes
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#wb_comingsoon_seconds
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   margin: 0;
   padding: 15px 0px 0px 0px;
   text-align: center;
}
#comingsoon_seconds
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 10px;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 10px;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 10px;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 10px;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#StickyLayer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   opacity: 0.80;
}
#wb_FontAwesomeIcon7
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon7:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon7
{
   height: 24px;
   width: 24px;
}
#FontAwesomeIcon7 i
{
   color: #383838;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_FontAwesomeIcon7:hover i
{
   color: #383838;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
   border-radius: 10px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#FontAwesomeIcon1
{
   height: 36px;
   width: 36px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 36px;
   line-height: 36px;
   vertical-align: middle;
   width: 22px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #B6AB8C;
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#services .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .row > .col-1
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_MaterialIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_MaterialIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon1
{
   height: 106px;
   width: 182px;
}
.MaterialIcon1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon1:before
{
   content: "\e30a";
}
#MaterialIcon1 i
{
   color: #5B4F46;
   display: inline-block;
   font-size: 106px;
   line-height: 106px;
   vertical-align: middle;
   width: 105px;
}
#wb_MaterialIcon1:hover i
{
   color: #337AB7;
}
#wb_MaterialIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_MaterialIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon2
{
   height: 106px;
   width: 182px;
}
.MaterialIcon2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon2:before
{
   content: "\e894";
}
#MaterialIcon2 i
{
   color: #5B4F46;
   display: inline-block;
   font-size: 106px;
   line-height: 106px;
   vertical-align: middle;
   width: 105px;
}
#wb_MaterialIcon2:hover i
{
   color: #337AB7;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2
{
   color: #5B4F46;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#Shape1
{
   width: 100px;
   height: 7px;
   background-color: #5B4F46;
   background-image: none;
   border: 0px #5B4F46 solid;
}
#wb_ServicesText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_ServicesText2 div
{
   text-align: center;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_MaterialIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_MaterialIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon3
{
   height: 106px;
   width: 182px;
}
.MaterialIcon3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon3:before
{
   content: "\e328";
}
#MaterialIcon3 i
{
   color: #5B4F46;
   display: inline-block;
   font-size: 106px;
   line-height: 106px;
   vertical-align: middle;
   width: 105px;
}
#wb_MaterialIcon3:hover i
{
   color: #337AB7;
}
#wb_MaterialIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_MaterialIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#MaterialIcon4
{
   height: 106px;
   width: 182px;
}
.MaterialIcon4
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.MaterialIcon4:before
{
   content: "\e88a";
}
#MaterialIcon4 i
{
   color: #5B4F46;
   display: inline-block;
   font-size: 106px;
   line-height: 106px;
   vertical-align: middle;
   width: 105px;
}
#wb_MaterialIcon4:hover i
{
   color: #337AB7;
}
#wb_ServicesText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 50px 0px;
   margin: 0;
   text-align: center;
}
#wb_ServicesText4 div
{
   text-align: center;
}
#wb_projects
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #5B7B9D;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#projects
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#projects .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#projects > .row > .col-1
{
   float: left;
}
#projects > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#projects:before,
#projects:after,
#projects .row:before,
#projects .row:after
{
   display: table;
   content: " ";
}
#projects:after,
#projects .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#projects > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#Shape2
{
   width: 100px;
   height: 7px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 60px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#Editbox1
{
   border: 3px solid #5B4F46;
   border-radius: 10px;
   background-color: #FFFFFF;
   background-image: none;
   color :#5B4F46;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   box-sizing: border-box;
   line-height: 20px;
   padding: 8px 8px 8px 8px;
   margin: 0;
   text-align: center;
}
#Button1
{
   border: 1px solid #FFFFFF;
   border-radius: 10px;
   background-color: #5B4F46;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   margin: 15px 0px 0px 0px;
}
#wb_PanelImage1
{
   margin: 0;
   vertical-align: top;
}
#PanelImage1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage1
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage1:hover
{
   opacity: 0.5;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage2
{
   margin: 0;
   vertical-align: top;
}
#PanelImage2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage2
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage2:hover
{
   opacity: 0.5;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage3
{
   margin: 0;
   vertical-align: top;
}
#PanelImage3
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_PanelImage3
{
   opacity: 1.0;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_PanelImage3:hover
{
   opacity: 0.5;
   -webkit-transition: opacity 500ms linear 0ms;
   -moz-transition: opacity 500ms linear 0ms;
   transition: opacity 500ms linear 0ms;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 15px 0px 0px 0px;
   text-align: center;
}
#Heading10
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-align: center;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text16 div
{
   text-align: center;
}
#Shape3
{
   width: 100px;
   height: 7px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#wb_FontAwesomeIcon2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 15px 15px 15px 15px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon2
{
   height: 42px;
   width: 42px;
}
#FontAwesomeIcon2 i
{
   color: #5B4F46;
   display: inline-block;
   font-size: 42px;
   line-height: 42px;
   vertical-align: middle;
   width: 41px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #B6AB8C;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text17 div
{
   text-align: center;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon3
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon3
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 10px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon8
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon8
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon10
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon10
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon11
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon11:hover
{
   background-color: #5B4F46;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon11
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon11 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon11:hover i
{
   color: #FFFFFF;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
   width: 100px;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 4px 0px;
   width: 100px;
}
#wb_CssMenu1 a
{
   display: block;
   color: #5B7B9D;
   border: 2px solid #5B7B9D;
   border-radius: 8px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 76px;
   height: 26px;
   padding: 0px 10px 0px 10px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #B6AB8C;
   background-color: transparent;
   background-image: none;
   border: 2px solid #B6AB8C;
}
#wb_CssMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#spacer-line
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#spacer-line2
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_ServicesText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_ServicesText1 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 25px 0px 25px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#Editbox1
{
   display: block;
   width: 100%;
   height: 42px;
   z-index: 38;
}
#wb_Heading2
{
   display: inline-block;
   width: 100%;
   z-index: 13;
}
#StickyLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 25px;
   top: auto;
   bottom: 25px;
   width: 46px;
   height: 46px;
   z-index: 44;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 459px;
   top: 630px;
   width: 36px;
   height: 36px;
   text-align: center;
   z-index: 9;
}
#comingsoon
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 100%;
   float: left;
   display: block;
   z-index: 43;
}
#wb_FontAwesomeIcon2
{
   display: inline-block;
   width: 42px;
   height: 42px;
   text-align: center;
   z-index: 28;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   z-index: 23;
}
#wb_Text1
{
   position: absolute;
   left: 248px;
   top: 259px;
   width: 457px;
   height: 16px;
   text-align: center;
   z-index: 11;
}
#wb_FontAwesomeIcon10
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 35;
}
#wb_FontAwesomeIcon3
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 33;
}
#wb_PanelImage1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 25;
}
#wb_FontAwesomeIcon11
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 36;
}
#wb_PanelImage2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 26;
}
#Layer1
{
   position: fixed;
   text-align: left;
   left: 25px;
   top: 25px;
   width: 156px;
   height: 198px;
   z-index: 45;
}
#wb_PanelImage3
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 27;
}
#wb_comingsoon_days
{
   position: absolute;
   left: 197px;
   top: 313px;
   width: 131px;
   height: 75px;
   z-index: 0;
}
#spacer-line2
{
   display: block;
   width: 100%;
   z-index: 40;
}
#wb_FontAwesomeIcon7
{
   position: absolute;
   left: 6px;
   top: 6px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 12;
}
#wb_comingsoon_hours
{
   position: absolute;
   left: 346px;
   top: 313px;
   width: 131px;
   height: 75px;
   z-index: 2;
}
#wb_Text6
{
   position: absolute;
   left: 197px;
   top: 403px;
   width: 125px;
   height: 19px;
   text-align: center;
   z-index: 1;
}
#wb_FontAwesomeIcon8
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 34;
}
#wb_Text7
{
   position: absolute;
   left: 346px;
   top: 403px;
   width: 125px;
   height: 19px;
   text-align: center;
   z-index: 3;
}
#wb_comingsoon_seconds
{
   position: absolute;
   left: 645px;
   top: 313px;
   width: 131px;
   height: 75px;
   z-index: 7;
}
#wb_Text8
{
   position: absolute;
   left: 495px;
   top: 403px;
   width: 125px;
   height: 19px;
   text-align: center;
   z-index: 4;
}
#spacer-line
{
   display: block;
   width: 100%;
   z-index: 37;
}
#wb_Text9
{
   position: absolute;
   left: 645px;
   top: 403px;
   width: 125px;
   height: 19px;
   text-align: center;
   z-index: 6;
}
#wb_comingsoon_minutes
{
   position: absolute;
   left: 495px;
   top: 313px;
   width: 131px;
   height: 75px;
   z-index: 5;
}
#comingsoon_Container
{
   width: 968px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_CssMenu1
{
   position: absolute;
   left: 15px;
   top: 11px;
   width: 141px;
   height: 176px;
   z-index: 42;
}
#wb_MaterialIcon1
{
   display: inline-block;
   width: 182px;
   height: 106px;
   text-align: center;
   z-index: 15;
}
#Button1
{
   display: inline-block;
   width: 188px;
   height: 40px;
   z-index: 39;
}
#wb_MaterialIcon2
{
   display: inline-block;
   width: 182px;
   height: 106px;
   text-align: center;
   z-index: 17;
}
#wb_MaterialIcon3
{
   display: inline-block;
   width: 182px;
   height: 106px;
   text-align: center;
   z-index: 19;
}
#wb_Shape1
{
   display: inline-block;
   width: 100px;
   height: 7px;
   z-index: 14;
   position: relative;
}
#wb_Shape2
{
   display: inline-block;
   width: 100px;
   height: 7px;
   z-index: 24;
   position: relative;
}
#wb_MaterialIcon4
{
   display: inline-block;
   width: 182px;
   height: 106px;
   text-align: center;
   z-index: 21;
}
#wb_Shape3
{
   display: inline-block;
   width: 100px;
   height: 7px;
   z-index: 31;
   position: relative;
}
#wb_Heading10
{
   display: inline-block;
   width: 100%;
   z-index: 29;
}
#wb_Heading1
{
   position: absolute;
   left: 167px;
   top: 189px;
   width: 618px;
   height: 82px;
   z-index: 10;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#comingsoon
{
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: url(images/ibiza_rocks_bk.jpg);
   background-repeat: no-repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
   margin: 0;
}
#comingsoon
{
   margin: 0;
}
#comingsoon_Container
{
   width: 480px;
}
#wb_Heading1
{
   left: 3px;
   top: 172px;
   width: 462px;
   height: 64px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 48px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
}
#wb_comingsoon_days
{
   left: 100px;
   top: 288px;
   width: 131px;
   height: 75px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 64px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#wb_comingsoon_days
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#comingsoon_days
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
}
#wb_comingsoon_hours
{
   left: 249px;
   top: 288px;
   width: 131px;
   height: 75px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 64px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#wb_comingsoon_hours
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#comingsoon_hours
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
}
#wb_comingsoon_minutes
{
   left: 100px;
   top: 430px;
   width: 131px;
   height: 75px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 64px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#wb_comingsoon_minutes
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#comingsoon_minutes
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
}
#wb_comingsoon_seconds
{
   left: 250px;
   top: 430px;
   width: 131px;
   height: 75px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 64px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#wb_comingsoon_seconds
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#comingsoon_seconds
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 64px;
}
#wb_Text6
{
   left: 100px;
   top: 378px;
   width: 125px;
   height: 19px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 10px;
}
#wb_Text6
{
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_Text7
{
   left: 249px;
   top: 378px;
   width: 125px;
   height: 19px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 10px;
}
#wb_Text7
{
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_Text8
{
   left: 100px;
   top: 520px;
   width: 125px;
   height: 19px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 10px;
}
#wb_Text8
{
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_Text9
{
   left: 250px;
   top: 520px;
   width: 125px;
   height: 19px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 10px;
}
#wb_Text9
{
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_Text1
{
   left: 12px;
   top: 238px;
   width: 457px;
   height: 54px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#StickyLayer
{
   width: 46px;
   height: 46px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   opacity: 0.80;
}
#wb_FontAwesomeIcon7
{
   left: 6px;
   top: 6px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   color: #383838;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#FontAwesomeIcon7
{
   width: 24px;
   height: 24px;
}
#FontAwesomeIcon7 i
{
   line-height: 24px;
   font-size: 24px;
   width: 15px;
}
#wb_FontAwesomeIcon1
{
   left: 215px;
   top: 630px;
   width: 36px;
   height: 36px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 10px;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#FontAwesomeIcon1
{
   width: 36px;
   height: 36px;
}
#FontAwesomeIcon1 i
{
   line-height: 36px;
   font-size: 36px;
   width: 23px;
}
#wb_services
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_services
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#services
{
   padding: 50px 15px 50px 15px;
}
#services .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#services > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_MaterialIcon1
{
   width: 182px;
   height: 106px;
   visibility: visible;
   display: inline-block;
   color: #5B4F46;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#MaterialIcon1
{
   width: 182px;
   height: 106px;
}
#MaterialIcon1 i
{
   line-height: 106px;
   font-size: 106px;
   width: 105px;
}
#wb_MaterialIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_MaterialIcon2
{
   width: 182px;
   height: 106px;
   visibility: visible;
   display: inline-block;
   color: #5B4F46;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#MaterialIcon2
{
   width: 182px;
   height: 106px;
}
#MaterialIcon2 i
{
   line-height: 106px;
   font-size: 106px;
   width: 105px;
}
#wb_MaterialIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_Heading2
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #5B4F46;
   font-size: 48px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Heading2
{
   color: #5B4F46;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
}
#wb_Shape1
{
   width: 100px;
   height: 7px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape1
{
   width: 100px;
   height: 7px;
}
#wb_ServicesText2
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_ServicesText2
{
   margin: 0;
   padding: 25px 0px 25px 0px;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1, #LayoutGrid3 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid3 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_MaterialIcon3
{
   width: 182px;
   height: 106px;
   visibility: visible;
   display: inline-block;
   color: #5B4F46;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#MaterialIcon3
{
   width: 182px;
   height: 106px;
}
#MaterialIcon3 i
{
   line-height: 106px;
   font-size: 106px;
   width: 105px;
}
#wb_MaterialIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_MaterialIcon4
{
   width: 182px;
   height: 106px;
   visibility: visible;
   display: inline-block;
   color: #5B4F46;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#MaterialIcon4
{
   width: 182px;
   height: 106px;
}
#MaterialIcon4 i
{
   line-height: 106px;
   font-size: 106px;
   width: 105px;
}
#wb_MaterialIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_ServicesText4
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_ServicesText4
{
   margin: 0;
   padding: 25px 0px 50px 0px;
}
#wb_projects
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B7B9D;
   background-image: none;
}
#wb_projects
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#projects
{
   padding: 50px 15px 50px 15px;
}
#projects .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#projects > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#projects > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading3
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 48px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
}
#wb_Shape2
{
   width: 100px;
   height: 7px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape2
{
   width: 100px;
   height: 7px;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutGrid5
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   padding: 50px 15px 50px 15px;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid5 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid5 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_contact
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
}
#wb_contact
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#contact
{
   padding: 50px 15px 50px 15px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#contact > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   padding: 60px 15px 40px 15px;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid6 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text14
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text14
{
   margin: 0;
   padding: 0px 0px 25px 0px;
}
#Editbox1
{
   width: calc(100% - 0px);
   height: 42px;
   visibility: visible;
   display: block;
   color: #5B4F46;
   font-size: 19px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 10px;
   margin: 0;
   padding: 8px 8px 8px 8px;
   text-align: center;
}
#Editbox1
{
   line-height: 20px;
}
#Button1
{
   width: 188px;
   height: 40px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
   border-radius: 10px;
   margin: 15px 0px 0px 0px;
}
#wb_PanelImage1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_PanelImage2
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_PanelImage3
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading10
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #FFFFFF;
   font-size: 48px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 15px 0px 0px 0px;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Heading10
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 48px;
}
#wb_Text16
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text16
{
   margin: 0;
   padding: 25px 0px 25px 0px;
}
#wb_Shape3
{
   width: 100px;
   height: 7px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape3
{
   width: 100px;
   height: 7px;
}
#wb_FontAwesomeIcon2
{
   width: 42px;
   height: 42px;
   visibility: visible;
   display: inline-block;
   color: #5B4F46;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 50%;
   margin: 0;
   padding: 15px 15px 15px 15px;
}
#FontAwesomeIcon2
{
   width: 42px;
   height: 42px;
}
#FontAwesomeIcon2 i
{
   line-height: 42px;
   font-size: 42px;
   width: 41px;
}
#wb_Text17
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text17
{
   margin: 0;
   padding: 15px 0px 15px 0px;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
}
#wb_LayoutGrid8
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid8
{
   padding: 25px 15px 25px 15px;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_FontAwesomeIcon3
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon3
{
   width: 20px;
   height: 20px;
}
#FontAwesomeIcon3 i
{
   line-height: 20px;
   font-size: 20px;
   width: 11px;
}
#wb_FontAwesomeIcon8
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon8
{
   width: 20px;
   height: 20px;
}
#FontAwesomeIcon8 i
{
   line-height: 20px;
   font-size: 20px;
   width: 19px;
}
#wb_FontAwesomeIcon10
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon10
{
   width: 20px;
   height: 20px;
}
#FontAwesomeIcon10 i
{
   line-height: 20px;
   font-size: 20px;
   width: 17px;
}
#wb_FontAwesomeIcon11
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #5B4F46;
   background-image: none;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon11
{
   width: 20px;
   height: 20px;
}
#FontAwesomeIcon11 i
{
   line-height: 20px;
   font-size: 20px;
   width: 17px;
}
#wb_CssMenu1
{
   left: 15px;
   top: 11px;
   visibility: visible;
   display: inline;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100px;
}
#wb_CssMenu1 a
{
   color: #5B7B9D;
   border: 2px solid #5B7B9D;
   border-radius: 8px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 76px;
   height: 26px;
   padding: 0px 10px 0px 10px;
   line-height: 26px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #B6AB8C;
   background-color: transparent;
   background-image: none;
   border: 2px solid #B6AB8C;
}
#Layer1
{
   width: 156px;
   height: 198px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#spacer-line
{
   width: calc(100% - 0px);
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0;
}
#spacer-line
{
   border-color: #FFFFFF;
   border-bottom-width: 40px;
}
#spacer-line2
{
   width: calc(100% - 0px);
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0;
}
#spacer-line2
{
   border-color: #FFFFFF;
   border-bottom-width: 40px;
}
}
